body{
position : relative;
font-family: Sans-serif !important;
}

h3{
	font-family: Sans-serif !important;
}

header {
	height: 30px;
	background-color: #F4F4F4;	
}

section#body {
	display: block;
	margin: auto;
	width: 1000px;
	padding-bottom : 150px;
}

header label {
    margin-right: 5px;
    margin-top: 6px;
    color: #999;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

header .page-title {
	float: left;
    margin-left: 100px;
    margin-top: 6px;
    color: #999;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

header .back {
	float: left;
    margin-left: 10px;
    margin-top: 6px;
    color: #999;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

header .bubble-link {
	display: block;
	width: 30px;
	height: 30px;
}

header .bubble-link ul {
	position: absolute;
	display: none;
    right: 0;
    top: 30px;
    background-color: #bfbfbf;
    list-style: none;
    padding: 7px 20px;
    color: #444;
    font-size: 13px;
	border-radius: 0 0 0 5px;
}

header .bubble-link ul li {
	border-bottom: 1px dotted #D8D8D8;
    margin-bottom: 3px;
}

header .bubble-link:hover {
	background-color: #bfbfbf;
}

header .bubble-link:hover ul {
	display: block;
}

header .bubble-link:after {
	content: " ";
	width: 18px;
	height: 18px;
	background-color: #43dd51;
	border-radius: 10px;
	display: block;
	margin: 5px;
}

footer {
	background-color: rgba(0,0,0,0.8);
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer > div {
	width: 1060px;
	margin: auto;
}

footer ul {
	list-style: none;
	min-width: 300px;
	margin-left: 50px;
	color: white;
	font-size: 11px;
}

footer ul li:first-child {
	font-weight: bold;
	color: #DDD;
	font-size: 12px;
}

/* Adjust chart colors */
#charts .wrapper {
	width: 600px;
	height: 600px;
	overflow: hidden;
}

#bubble-map {
	margin-top: -75px;
}

#subcase-time-chart {
	margin-left: 20px;
    margin-top: 20px;
}

#generic-time-chart {
	margin-top: 40px;
	margin-left: 20px;
}

#generic-time-chart g.stack._0  > rect.bar,
#generic-time-chart .dc-legend .dc-legend-item:first-child rect {
	stroke: none;
    fill: #3182bd;
}

#generic-time-chart g.stack._1  > rect.bar,
#generic-time-chart .dc-legend .dc-legend-item:last-child rect {
	stroke: none;
    fill: #9ecae1;
}

a,
a:hover {
	text-decoration: none;
	cursor: pointer;
}

#mapCluj svg {
	margin-left: 60px;
	margin-top: 40px;
	offset: visible;
}

.reset label {
	margin-left: 21px;
}